### Importação dos dados

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja1 = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja1.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

In [26]:
loja2.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Cadeira de escritório,moveis,378.20,20.421138,04/08/2021,Thiago Silva,MG,1,boleto,1,-18.10,-44.38
1,Pandeiro,instrumentos musicais,102.37,3.035334,26/11/2020,Bianca Santos,RJ,3,cartao_credito,4,-22.25,-42.66
2,Cama king,moveis,591.13,31.759020,22/10/2021,Thiago Silva,SC,5,cartao_credito,10,-27.45,-50.95
3,Cama king,moveis,1208.24,61.919584,04/05/2022,Larissa Alves,RS,5,cartao_credito,10,-30.17,-53.50
4,Cadeira de escritório,moveis,530.41,25.827176,26/02/2022,Lucas Oliveira,SP,4,cartao_credito,3,-22.19,-48.79

In [27]:
loja3.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Secadora de roupas,eletrodomesticos,1713.50,88.823159,17/12/2021,Camila Ribeiro,CE,4,cartao_credito,4,-5.20,-39.53
1,Cômoda,moveis,386.81,18.180908,10/02/2021,Larissa Alves,RS,3,cartao_credito,1,-30.17,-53.50
2,Violão,instrumentos musicais,404.62,23.197592,22/01/2023,Lucas Oliveira,SP,5,cartao_credito,3,-22.19,-48.79
3,Bola de vôlei,esporte e lazer,78.40,4.463341,22/03/2022,Pedro Gomes,BA,4,cartao_credito,6,-13.29,-41.71
4,Guarda roupas,moveis,694.76,34.578319,12/01/2022,Bianca Santos,SP,1,cartao_credito,1,-22.19,-48.79

In [28]:
loja4.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Lava louças,eletrodomesticos,1446.46,74.604083,11/11/2022,Rafael Costa,SP,4,cartao_credito,3,-22.19,-48.79
1,Cama box,moveis,631.70,33.919251,03/01/2020,Thiago Silva,GO,5,cartao_credito,2,-15.98,-49.86
2,Bola de basquete,esporte e lazer,31.54,0.000000,25/12/2022,Larissa Alves,MG,5,boleto,1,-18.10,-44.38
3,Modelagem preditiva,livros,76.93,1.680730,23/11/2021,Lucas Oliveira,MG,3,boleto,1,-18.10,-44.38
4,Fone de ouvido,eletronicos,185.14,7.442587,25/04/2022,Bianca Santos,SP,4,cartao_credito,7,-22.19,-48.79

# 1. Análise de faturamento

In [12]:
faturamento_loja1 = loja1['Preço'].sum()
valor_formatado = "R$ {:,.2f}".format(faturamento_loja1).replace(',', 'x').replace('.', ',').replace('x', '.')
print(f"Faturamento total da loja 1: {valor_formatado}")

faturamento_loja2 = loja2['Preço'].sum()
valor_formatado2 = "R$ {:,.2f}".format(faturamento_loja2).replace(',', 'x').replace('.', ',').replace('x', '.')
print(f"\nFaturamento total da loja 2: {valor_formatado2}")

faturamento_loja3 = loja3['Preço'].sum()
valor_formatado3 = "R$ {:,.2f}".format(faturamento_loja3).replace(',', 'x').replace('.', ',').replace('x', '.')
print(f"\nFaturamento total da loja 3: {valor_formatado3}")

faturamento_loja4 = loja4['Preço'].sum()
valor_formatado4 = "R$ {:,.2f}".format(faturamento_loja4).replace(',', 'x').replace('.', ',').replace('x', '.')
print(f"\nFaturamento total da loja 4: {valor_formatado4}")

Faturamento total da loja 1: R$ 1.534.509,12

Faturamento total da loja 2: R$ 1.488.459,06

Faturamento total da loja 3: R$ 1.464.025,03

Faturamento total da loja 4: R$ 1.384.497,58

# 2. Vendas por Categoria

In [10]:
vendas_categoria_loja1 = loja1.groupby("Categoria do Produto")["Preço"].sum().sort_values(ascending=False)
vendas_categoria_loja1_formatado = vendas_categoria_loja1.apply(
    lambda x: "R$ {:,.2f}".format(x).replace(',', 'X').replace('.', ',').replace('X', '.')
)
print(f"Loja 1:\n{vendas_categoria_loja1_formatado}")

vendas_categoria_loja2 = loja2.groupby("Categoria do Produto")["Preço"].sum().sort_values(ascending=False)
vendas_categoria_loja2_formatado = vendas_categoria_loja2.apply(
    lambda x: "R$ {:,.2f}".format(x).replace(',', 'X').replace('.', ',').replace('X', '.')
)
print(f"\nLoja 2:\n{vendas_categoria_loja2_formatado}")

Loja 1:
Categoria do Produto
eletronicos              R$ 572.659,23
eletrodomesticos         R$ 484.913,36
moveis                   R$ 250.178,11
instrumentos musicais    R$ 121.731,69
esporte e lazer           R$ 52.387,55
brinquedos                R$ 23.993,78
utilidades domesticas     R$ 16.931,48
livros                    R$ 11.713,92
Name: Preço, dtype: object

Loja 2:
Categoria do Produto
eletronicos              R$ 547.773,71
eletrodomesticos         R$ 464.758,13
moveis                   R$ 235.234,68
instrumentos musicais    R$ 139.987,03
esporte e lazer           R$ 46.326,09
brinquedos                R$ 21.262,21
utilidades domesticas     R$ 19.662,86
livros                    R$ 13.454,35
Name: Preço, dtype: object

In [11]:
vendas_categoria_loja3 = loja3.groupby("Categoria do Produto")["Preço"].sum().sort_values(ascending=False)
vendas_categoria_loja3_formatado = vendas_categoria_loja3.apply(
    lambda x: "R$ {:,.2f}".format(x).replace(',', 'X').replace('.', ',').replace('X', '.')
)
print(f"\nLoja 3:\n{vendas_categoria_loja3_formatado}")

vendas_categoria_loja4 = loja4.groupby("Categoria do Produto")["Preço"].sum().sort_values(ascending=False)
vendas_categoria_loja4_formatado = vendas_categoria_loja4.apply(
    lambda x: "R$ {:,.2f}".format(x).replace(',', 'X').replace('.', ',').replace('X', '.')
)
print(f"\nLoja 4:\n{vendas_categoria_loja4_formatado}")

Loja 3:
Categoria do Produto
eletronicos              R$ 547.699,92
eletrodomesticos         R$ 438.984,89
moveis                   R$ 268.095,56
instrumentos musicais    R$ 103.174,45
esporte e lazer           R$ 47.456,10
brinquedos                R$ 25.869,20
utilidades domesticas     R$ 20.080,21
livros                    R$ 12.664,70
Name: Preço, dtype: object

Loja 4:
Categoria do Produto
eletronicos              R$ 545.966,86
eletrodomesticos         R$ 377.680,65
moveis                   R$ 256.705,65
instrumentos musicais    R$ 100.136,50
esporte e lazer           R$ 44.465,65
brinquedos                R$ 27.015,67
utilidades domesticas     R$ 20.098,83
livros                    R$ 12.427,77
Name: Preço, dtype: object

As vendas por categoria revelaram que a categoria de produto mais vendido são eletrônicos e o menos vendido são livros.

# 3. Média de Avaliação das Lojas

In [9]:
media_avaliacao_loja1 = loja1['Avaliação da compra'].mean()
print(f"A média da avaliação da loja 1 é: {media_avaliacao_loja1:.2f}")

media_avaliacao_loja2 = loja2['Avaliação da compra'].mean()
print(f"\nA média da avaliação da loja 2 é: {media_avaliacao_loja2:.2f}")

media_avaliacao_loja3 = loja3['Avaliação da compra'].mean()
print(f"\nA média da avaliação da loja 3 é: {media_avaliacao_loja3:.2f}")

media_avaliacao_loja4 = loja4['Avaliação da compra'].mean()
print(f"\nA média da avaliação da loja 4 é: {media_avaliacao_loja4:.2f}")

A média da avaliação da loja 1 é: 3.98

A média da avaliação da loja 2 é: 4.04

A média da avaliação da loja 3 é: 4.05

A média da avaliação da loja 4 é: 4.00

A loja com a pior média de avaliação foi a 1 com média de 3.08 na pontuação

# 4. Produtos Mais e Menos Vendidos

In [7]:
vendas_por_produto_loja1 = loja1['Produto'].value_counts()

produto_mais_vendido = vendas_por_produto_loja1.idxmax()
quantidade_mais_vendido = vendas_por_produto_loja1.max()

produto_menos_vendido = vendas_por_produto_loja1.idxmin()
quantidade_menos_vendido = vendas_por_produto_loja1.min()

print(f"Produto mais vendido (Loja 1): {produto_mais_vendido} - {quantidade_mais_vendido} unidades")
print(f"Produto menos vendido (Loja 1): {produto_menos_vendido} - {quantidade_menos_vendido} unidade(s)")

vendas_por_produto_loja2 = loja2['Produto'].value_counts()

produto_mais_vendido2 = vendas_por_produto_loja2.idxmax()
quantidade_mais_vendido2 = vendas_por_produto_loja2.max()

produto_menos_vendido2 = vendas_por_produto_loja2.idxmin()
quantidade_menos_vendido2 = vendas_por_produto_loja2.min()

print(f"\nProduto mais vendido (Loja 2): {produto_mais_vendido2} - {quantidade_mais_vendido2} unidades")
print(f"Produto menos vendido (Loja2): {produto_menos_vendido2} - {quantidade_menos_vendido2} unidade(s)")

vendas_por_produto_loja3 = loja3['Produto'].value_counts()

produto_mais_vendido3 = vendas_por_produto_loja3.idxmax()
quantidade_mais_vendido3 = vendas_por_produto_loja3.max()

produto_menos_vendido3 = vendas_por_produto_loja3.idxmin()
quantidade_menos_vendido3 = vendas_por_produto_loja3.min()

print(f"\nProduto mais vendido (Loja 3): {produto_mais_vendido3} - {quantidade_mais_vendido3} unidades")
print(f"Produto menos vendido (Loja 3): {produto_menos_vendido3} - {quantidade_menos_vendido3} unidade(s)")

vendas_por_produto_loja4 = loja4['Produto'].value_counts()

produto_mais_vendido4 = vendas_por_produto_loja4.idxmax()
quantidade_mais_vendido4 = vendas_por_produto_loja4.max()

produto_menos_vendido4 = vendas_por_produto_loja4.idxmin()
quantidade_menos_vendido4 = vendas_por_produto_loja4.min()

print(f"\nProduto mais vendido (Loja 4): {produto_mais_vendido4} - {quantidade_mais_vendido4} unidades")
print(f"Produto menos vendido (Loja 4): {produto_menos_vendido4} - {quantidade_menos_vendido4} unidade(s)")

Produto mais vendido (Loja 1): TV Led UHD 4K - 60 unidades
Produto menos vendido (Loja 1): Headset - 33 unidade(s)

Produto mais vendido (Loja 2): Iniciando em programação - 65 unidades
Produto menos vendido (Loja2): Jogo de tabuleiro - 32 unidade(s)

Produto mais vendido (Loja 3): Kit banquetas - 57 unidades
Produto menos vendido (Loja 3): Blocos de montar - 35 unidade(s)

Produto mais vendido (Loja 4): Cama box - 62 unidades
Produto menos vendido (Loja 4): Guitarra - 33 unidade(s)

# 5. Frete Médio por Loja

In [8]:
frete_medio_loja1 = loja1['Frete'].mean()
print("Frete médio da loja 1: R$ {:.2f}".format(frete_medio_loja1).replace(',', 'X').replace('.', ',').replace('X', '.'))

frete_medio_loja2 = loja2['Frete'].mean()
print("\nFrete médio da loja 2: R$ {:.2f}".format(frete_medio_loja2).replace(',', 'X').replace('.', ',').replace('X', '.'))

frete_medio_loja3 = loja3['Frete'].mean()
print("\nFrete médio da loja 3: R$ {:.2f}".format(frete_medio_loja3).replace(',', 'X').replace('.', ',').replace('X', '.'))

frete_medio_loja4 = loja4['Frete'].mean()
print("\nFrete médio da loja 4: R$ {:.2f}".format(frete_medio_loja4).replace(',', 'X').replace('.', ',').replace('X', '.'))

Frete médio da loja 1: R$ 34,69

Frete médio da loja 2: R$ 33,62

Frete médio da loja 3: R$ 33,07

Frete médio da loja 4: R$ 31,28

O menor frete foi da loja 4 e o maior foi da loja 1