### Importação dos dados

In [ ]:
import pandas as pd

# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja1 = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja1.head()
# print(loja1)

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

# 1. Análise de faturamento

In [12]:
faturamento_loja1 = loja1['Preço'].sum()
valor_formatado = "R$ {:,.2f}".format(faturamento_loja1).replace(',', 'x').replace('.', ',').replace('x', '.')
print(f"Faturamento total da loja 1: {valor_formatado}")

Faturamento total da loja 1: R$ 1.534.509,12

A loja 1 faturou R$ R$ 1.534.509,12

# 2. Vendas por Categoria

In [20]:
vendas_categoria_loja1 = loja1.groupby("Categoria do Produto")["Preço"].sum().sort_values(ascending=False)
vendas_categoria_loja1_formatado = vendas_categoria_loja1.apply(
    lambda x: "R$ {:,.2f}".format(x).replace(',', 'X').replace('.', ',').replace('X', '.')
)
vendas_categoria_loja1_formatado

Categoria do Produto
eletronicos              R$ 572.659,23
eletrodomesticos         R$ 484.913,36
moveis                   R$ 250.178,11
instrumentos musicais    R$ 121.731,69
esporte e lazer           R$ 52.387,55
brinquedos                R$ 23.993,78
utilidades domesticas     R$ 16.931,48
livros                    R$ 11.713,92
Name: Preço, dtype: object

As vendas por categoria revelaram que o produto mais vendido são eletrônicos com R$ 572.659,23 de vendas

# 3. Média de Avaliação das Lojas

In [22]:
media_avaliacao_loja1 = loja1['Avaliação da compra'].mean()
print(f"A média da avaliação da loja 1 é: {media_avaliacao_loja1:.2f}")

A média da avaliação da loja 1 é: 3.98

# 4. Produtos Mais e Menos Vendidos

In [23]:
vendas_por_produto_loja1 = loja1['Produto'].value_counts()

produto_mais_vendido = vendas_por_produto_loja1.idxmax()
quantidade_mais_vendido = vendas_por_produto_loja1.max()

produto_menos_vendido = vendas_por_produto_loja1.idxmin()
quantidade_menos_vendido = vendas_por_produto_loja1.min()

print(f"Produto mais vendido (Loja 1): {produto_mais_vendido} - {quantidade_mais_vendido} unidades")
print(f"Produto menos vendido (Loja 1): {produto_menos_vendido} - {quantidade_menos_vendido} unidade(s)")

Produto mais vendido (Loja 1): TV Led UHD 4K - 60 unidades
Produto menos vendido (Loja 1): Headset - 33 unidade(s)

# 5. Frete Médio por Loja

In [24]:
frete_medio_loja1 = loja1['Frete'].mean()
print("Frete médio da loja 1: R$ {:.2f}".format(frete_medio_loja1).replace(',', 'X').replace('.', ',').replace('X', '.'))

Frete médio da loja 1: R$ 34,69